@charset "UTF-8";
body{
	background-image: url(logo.png);
	background-size: 70px 70px;
	background-repeat: repeat-y;
	padding-left: 70px;
}

footer{
	background-color: saddlebrown;
	margin: 20px 0px 0px -10px;
	padding: 10px;
}
.static_range{
	position: fixed;
	bottom: 0;
	padding: 200px;
	margin: 10px 0 10px 0;
	background-color: cadetblue;
	border-top: 2px solid black;
	text-align: center;
}